.Body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.Content { flex: 1; }
  
body { 
    margin: 0; 
    font-family: 'Segoe UI';
}

/* Header */
    header { 
        background-color: rgb(11, 21, 35);
        border-style: none none solid none;
        border-width: 5px;
        animation: fadingBorder 10s ease infinite;
    }
    @keyframes fadingBorder{
        0%		{ border-color: #326bbca4;}
        60%		{ border-color: #589cfc;}
        100%	{ border-color: #326bbca4;}
    }
    .crop{
        border: red solid 0px;
        width: 230px;
        height: 70px;
        overflow: hidden;
    }
    .crop img {
        width: 300px;
        height: 200px;
        margin: -77px 0 0 -35px;
    }


/* The main content */
    main { 
        background-color: rgb(11, 21, 35);
    }

/* Footer */
    footer { 
        background-color: rgb(10, 7, 21);
        color: rgba(255, 255, 255, 0.463);

        height: 110px;
        text-align: center;
        bottom: 0;
    }
    .logo-footer {
        border: 0px solid rgb(30, 255, 0);
        max-width: 300px;
        max-height: 110px;
        margin-top: -40px;
        margin-bottom: -20px;
    }
    .navbar {
        padding-bottom: 5px;
    }
    .navbar a {
        color: rgb(255, 255, 255);
    }
    /* Change the color of links on hover */
    .navbar a:hover {
        color: #589cfc;
    }
